<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!-- Authoring URLs -->
      <setting name="CW.DEV.AuthoringUrl" value="https://xmc-childrensho28cc-cw706e-devcec4.sitecorecloud.io/" />
      <setting name="CW.UAT.AuthoringUrl" value="https://xmc-childrensho7ebe-cwdd04-uat31bd.sitecorecloud.io/" />
      <setting name="CW.PROD.AuthoringUrl" value="https://xmc-childrensho3e59-cw60b4-prod2126.sitecorecloud.io/" />

      <!-- Client IDs -->
      <setting name="CW.DEV.ClientId" value="JGpN640kIZJ6xXIt38D4VDZzFIwbldSK" />
      <setting name="CW.UAT.ClientId" value="UsOSk63a63MM3LeqETLDMDQMDA6iruSU" />
      <setting name="CW.PROD.ClientId" value="9sDljVEboLPxzMbQpB9euHHtPgNPy4fr" />

      <!-- Client Secrets -->
      <setting name="CW.DEV.ClientSecret" value="rD87RC4gxvgrtHqGm5MxRKlu1uwSv7r1r-O4G-Kjk3twiZma_6Q1t3QHdhV0V8ot" />
      <setting name="CW.UAT.ClientSecret" value="7-LuGJSBqMaEg3IfIqDwylJCTPAibH_wr4fM1ekDuBCBb5HS-6bDbSKCtKuaCwoa" />
      <setting name="CW.PROD.ClientSecret" value="Nz6HL3keTQDresoTbqJgyPMv0ljQzgbtkIofuaAllCKjNiXl20m1ogimWtrFgZll" />

    </settings>
  </sitecore>
</configuration>
